{% from "_render_field_lab5_6.html" import render_field %}
{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %} 
        <span class = "text-center" style="color: rgb(66, 66, 150);">
            <h1>Реєстрація особистого електронного кабінету</h1>
        </span>
        <div class = "container">
            <form method="POST" action="{{ url_for('form_cabinet.form_cabinet')}}">
                {{ form.csrf_token }}
                
                {{ render_field( form.login, class_label="col-sm-3" )}}
                {{ render_field( form.password, class_label="col-sm-3" )}}
                {{ render_field( form.confirm_password, class_label="col-sm-3" )}}

                <h3 style="color: rgb(66, 66, 150);">Екзаменаційний лист (сертифікат) ЗНО магістра</h3> 
                {{ render_field( form.number, class_label="col-sm-2" )}}
                {{ render_field( form.pin, class_label="col-sm-2" )}}
                {{ render_field( form.year, class_label="col-sm-2" )}}
                
                <h3 style="color: rgb(66, 66, 150);">Документ про освіту</h3>
                {{ render_field( form.diplom_serial, class_label="col-sm-3" )}}
                {{ render_field( form.diplom_number, class_label="col-sm-3" )}}

                <input type = "submit" value = "Зареєструвати" class="form-control btn btn-primary mb-2 float-right">
            </form>
        </div>
{% endblock %}